body{
   /*background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);*/
   
    /*background:#4158D0!important;*/
     background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 5.5%, rgba(75,68,224,0.74) 54.2%, rgba(64,198,238,1) 55.2%, rgba(177,36,224,1) 98.4% );
}
.primary-background{
    /*background:#0336ff!important;*/
     /*background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);*/
     /*new css*/
    background-image: linear-gradient(225deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

     
}
.secondary-background{
    background:rgba(1,1,1,0.7)!important;
}
